.login {
    width: 100%;
    display: grid;
    grid-template-columns: 58% 42%;
    height: 100vh;
    background: #fff;
    align-self: center;
    margin: auto;
    overflow: hidden;
    max-height: 720px;
    border-radius: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto 180px auto auto;
}

.form label {
    text-align: start;
    margin-bottom: 10px;
}

.mainTitle {
    color: #4FD1C5;
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
}

.imgTitle {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    z-index: 3;
    text-align: center;
}


.secondaryTitle {
    color: #718096;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: start;
    margin-bottom: 50px;
}

.inputField {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputField input {
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid #E2E9F0;
    border-radius: 12px;
    padding: 0 20px;
    vertical-align: middle;
}

.inputField input:hover {
    border: 1px solid #48BB78;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img img {
    position: absolute;
    left: 0;
    top: -5px;
}

.link {
    margin-top: 20px;
    text-align: center;
}

.link a {
    color: #4FD1C5;
    font-weight: bold;
}
@media screen and (max-width: 1366px){
    .img img {
        top: -200px;
    }

}
