.youtube {
    overflow: hidden;
    position: relative;
    margin: 20px;
    height: 300px;
}

.youtube iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
